@import 'variables.scss';

body {
  color: $dark-color;
  background: $background-color-2;
  font-family: $font-family-primary;
}

.button-container {
  min-width: 90%;
  margin-top: $spacing-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  min-width: 50%;
  padding: $spacing-small $spacing-medium;
  border: none;
  border-radius: $border-radius;
  font-weight: $button-font-weight;
  cursor: pointer;
  color: $dark-color;
}

.button-primary {
  background-color: $primary-color;
}

.button-secondary {
  margin-left: $spacing-large;
  background-color: #cbcabd;
}