.title {
    color: #404e5c;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    min-width: 120px;
    
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.buttonCancel {
    background-color: #e6ebea;
    color: #404e5c;
    border: 2px solid #404e5c;

    &:hover {
        background-color: #d1d9d6;
    }
}

.buttonFinish {
    background-color: #404e5c;
    color: white;

    &:hover {
        background-color: #2c3639;
    }
} 