@import '../../styles/variables.scss';

.title {
    display: flex;
    justify-content: center;
}

.formContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.mainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.forgot {
    border: 0px;
    text-decoration: none;
    color: $dark-color;
}

.forgot:hover {
    border-bottom: 2px solid $dark-color;
    cursor: pointer;
    color: $dark-color;
}