@import '../../styles/variables.scss';



.page-container ,.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    align-self: center;
    color: $dark-color;
    display: flex;
}

.container_blurred {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
  }
  
