@use '../../../styles/variables' as *;

.title {
  display: flex;
  justify-content: center;
  color: $dark-color;
  margin-bottom: $spacing-large;
  text-align: center;
}

.label{
  margin-left: $spacing-medium;
  font-size: 15px;
  font-weight: 600;
  align-self: flex-start;
}

.formAndItemListContainer {
  display: flex;
  justify-content: space-around;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemListContainer {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fileLabelText {
  margin: 0px;
  margin-bottom: $spacing-medium;
  font-size: 15px;
  font-weight: 600;
  color: $dark-color;
  padding-left: 15px;
}


.filePreviewContainer {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: $spacing-medium; 
  margin-top: $spacing-petite;
}

.fileName {
  font-style: italic;
  font-size: 14px;
  color: $dark-color;
}

.fileIcon {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;

  &:hover {
    opacity: 0.7;
  }

}

.fileIconDisabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.buttonPrimary {
  margin-right: $spacing-large;
  background-color: $primary-color;
}

.buttonContainer {
  margin-top: $spacing-extra-large;
}

.buttonCancel {
  margin-bottom: $spacing-extra-large;
}

.buttonFinish {
  margin-left: $spacing-medium;
}
.buttonSelect {
  border: 2px solid $dark-color;
  background-color: $light-color;
  width: 80px;
  height: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.buttonChange {  
  border: 2px solid $dark-color;
  background-color: $light-color;
  width: 80px;
  height: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.buttonCamera {
  border: 2px solid $dark-color;
  background-color: $light-color;
  width: 40px;
  height: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 8px;
  padding: 8px;
  
  &:hover {
    background-color: darken($light-color, 5%);
  }
  
  svg {
    font-size: 18px;
    color: $dark-color;
  }
}

@media (max-width:500px) {
  .formAndItemListContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .itemListContainer {
    min-width: 90%;
  }
}


.fileInputContainer {
  display: flex;
  align-items: center;
  gap: $spacing-medium;
  width: 100%;;
}

.fileInputWrapper {
  display: flex;
  align-items: center;
}

.button {
  min-width: 30%;
  max-width: 80%;
  padding: $spacing-small ;
  border: none;
  border-radius: $border-radius;
  font-weight: $button-font-weight;
  cursor: pointer;
  color: $dark-color;

}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}