@use '../../styles/variables' as *;

.page-container, .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:0;
}

.title {
    align-self: center;
    color: $dark-color;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

.container_blurred {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
    width: 40%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 10px;
    justify-items: center;
}

.title {
    display: flex;
    justify-content: center;
}

.buttonDelete {
    margin-top: 20px;
}

.dropdownLocation {
    min-width: 60px;
    max-width: 300px;
    margin: 10px auto;
}

.searchForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
    padding: 1.5rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 80rem;
}

.searchRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.buttonHome {
    min-width: 120px;
}

.informationText {
    text-align: center;
}

@media (max-width: 48rem) {
    .searchRow {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    
    .searchForm {
        width: 90%;
        padding:0.5rem;
    }
}

@media (max-width: 1000px) {
    .buttonContainer {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

     .buttonHome {
         margin-top: 15px;
     }
     .informationText {
        font-size: 16px;
    }
}

.searchButton {
    height: 100%;
    min-height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
}