@use '../../../styles/variables' as *;

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: $dark-color;
  border: 3px solid #999;
  border-radius: $border-radius;
  padding: $spacing-medium;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transform: scale(1.01);
  }

  &.selected {
    border: 3px solid $primary-color;
    background-color: lighten($primary-color, 30%);
  }
}

.movementList {
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  padding: $spacing-medium;
  max-width: 800px;
  margin: 0 auto;
  background-color: $background-color;
  border: 4px solid $dark-color;
  border-radius: 8px;
  font-family: $font-family-primary;
  font-weight: 700;
  overflow-y: auto;
  max-height: 67vh;
  width: 100%;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.dateItem {
  width: 100%;
  padding: 0.6rem 0;
  margin: 1.2rem 0 0.7rem 0;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: $dark-color;
  border-radius: 6px;
  letter-spacing: 0.5px;
  box-shadow: none;
  border: none;
}

.movementInfo {
  font-size: 16px;
  font-weight: 600;
  color: $dark-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  text-align: center;
  margin: 1.5rem;
  color: $dark-color;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .item {
    flex-direction: column;
    font-size: 16px;
  }

  .movementInfo {
    font-size: 14px;
    max-width: 100%;
  }
}
