@use '../../app/styles/variables' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: $dark-color;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.message {
  text-align: center;
  color: $dark-color;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.button {
  min-width: 120px;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(0);
  }
}

.buttonCancel {
  background-color: #e4e4e4;
  color: $dark-color;

  &:hover {
    background-color: #d0d0d0;
  }
}

.buttonConfirm {
  background-color: #b5c88d;
  color: $dark-color;

  &:hover {
    background-color: #a5b879;
  }
}
