@import "../../app/styles/variables.scss";

.welcomeTitle {
  font-size: 2.2rem;
  font-weight: 600;
  color: $dark-color;
  margin-top: 40px;
  text-align: center;
}

.username {
  font-size: 2.6rem;
  font-weight: bold;
  color: $dark-color;
  margin-bottom: 30px;
  text-align: center;
}


.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 10px;
}

.buttonHome {
  padding: 10px 20px;
  min-width: 150px;
  text-align: center;
}

@media (max-width: 1000px) {
  .buttonContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
  }

  .buttonHome {
     margin: 0;
     min-width: 200px;
     padding: 8px 16px;
  }
}


@media (max-width: 600px) {
  .buttonContainer {
    width: 90%;
    gap: 30px;
    margin-top: 100px;
  }

  .buttonHome {
    min-width: 200px;
    padding: 8px 16px;
  }

  .homeTitle {
    font-size: 28px;
  }
}