@import '../../app/styles/variables.scss';

.buttonLogOut {
    background-color: $primary-color;
    margin: 40px auto;
  }

.logOutContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paths {
  border: 0px;
  text-decoration: none;
  color: $dark-color;
  width: 100%;
}

.paths:hover {
  border-bottom: 2px solid $dark-color;
  cursor: pointer;
  color: $dark-color;
}

