@import '../../../app/styles/variables.scss';

.title {
    color: $dark-color;
    display: flex;
    justify-content: center;
}

.button {
    min-width: 30%;
    max-width: 80%;
    padding: $spacing-small $spacing-medium;
    border: none;
    border-radius: $border-radius;
    font-weight: $button-font-weight;
    cursor: pointer;
    color: $dark-color;
    margin-top: $spacing-large;
}

.buttonPrimary {
margin-right: $spacing-large;
background-color: $primary-color;
}

.buttonContainer{
display: flex;
justify-content: center;
margin-top: $spacing-large;
}

.buttonCancel{
    margin-right: $spacing-medium;
  }

.buttonFinish{
  margin-left: $spacing-medium;
}

.message{
  text-align: center;
}

.dataPresentation{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}