.container {
  border: 1px solid #cbcabd;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  background-color:#e1e5e4;
  margin: 0 auto;
  max-width: 400px;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.back {
  align-self: flex-start;
  font-size: 14px;
  color: #000;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.secondary {
  font-size: 14px;
  color: #666;
}

.itemList {
  flex: 1;
  overflow-y: auto;
  padding: 10px 2px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
  line-height: 1.5;
}

.checkbox {
  margin-right: 15px;
  height: 20px;
}

.itemName {
  margin-right: 8px;
}

.itemCode {
  color: #666;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.actionButton {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  flex: 1;
}

.actionButton:hover {
  background-color: #f0f0f0;
}

@media (max-width: 500px) {
  .item {
    font-size: 14px;
  }

  .buttonContainer {
    flex-direction: column;
  }
  .container {
    max-height: 340px;
  }
}